:root {
  --black: #171321;
  --dkblue: #0d314b;
  --plum: #4b0d49;
  --hotmag: #ff17e4;
  --magenta: #e310cb;
  --aqua: #86fbfb;
  --white: #f7f8fa;
  --font-size: 1.3rem;
  --mono: "Oxygen mono", monospace;
  --sans: Oxygen, sans-serif;
}
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  background-color: var(--plum);
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
}

h1 {
  text-align: center;
  font-size: 4rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: flashColors 4s infinite;
}

@keyframes flashColors {
  0% { color: blue; }
  25% { color: green; }
  50% { color: red; }
  75% { color: yellow; }
  100% { color: blue; }
}